body{
	font-family: 'Fira Sans', sans-serif;
	background-color: #ededed;
}

*{
	box-sizing: border-box;
}

.spacer{
	height: 30px;
}

/*nav*/
.navbar{
	background: #fff;
}

.navbar .navbar-collapse{
	justify-content: flex-end;
}
/*cnt*/
#content{
	position: relative;
	height: calc(100vh - 56px);
	text-align: center;
}

#preview{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100vw - 300px);
	height: 100%;
}

#preview iframe{
	border: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: content-box;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.45);
	overflow: hidden;
}
#formats,
#editor{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100%;
	overflow: hidden;
}
#formats{
	background: #fff;
}
#editor .editor-single{
	position: absolute;
	top: 0px;
	right: -100%;
	width: 100%;
	height: 100%;
	background: #6a6a6a;
	color: #fff;
	padding: 10px 25px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	overflow-x: hidden;
	overflow-y: auto;

}
#editor .editor-single.active{
	right: 0px;
}

/*editor panels*/
h2{
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 15px;
}
[data-panel="resize"] .custom input[type="text"]{
	width: calc(50% - 2px);
	display: inline-block;
	background: #7e7e7e;
	border: 0px;
	color: #fff;
	padding: 3px 8px;
}
[data-panel="resize"] .custom input[type="text"]:first-child{
	margin-right: 4px;
}
[data-panel="resize"] .custom input[type="button"]{
	width: 100%;
	border: 1px solid #dddddd;
	color: #dddddd;
	background: #7e7e7e;
	padding: 4px;
	margin-top: 10px;
}

.formato{
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	position: relative;
}
.formato:hover,
.formato.selected{
	border-color: #7e7e7e;
}
.formato .demo{
	background: #7e7e7e;
	margin: 14px auto 10px;
}
.formato small{
	font-size: 11px;
	opacity: 0.7;
}
.formato .fa-pencil{
	position: absolute;
	top: 15px;
	right: 15px;
}
.template{
   display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;
	border: 2px solid transparent;
	padding: 3px 6px;
}
.template:hover{
   border-color: #ffffff;
}
.template.selected{
   border-color: #ffff65;
}
.template iframe{
	border: 0px;
}
.template .clickme{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/*url bar*/
.urlPageContainer{
	width: calc(100% - 300px);
	background: #e3e3e3;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}
.urlPageContainer .bar {
	border: 1px solid #c2c4c5;
	display: inline-block;
	border-radius: 13px;
	height: 26px;
	width: calc(100% - 200px);
	overflow: hidden;
	background-color: #fff;
	text-align: left;
	line-height: 20px;
}
.urlPageContainer .bar .http{
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	margin: 2px 0px 2px 2px;
	line-height: 18px;
	height: 20px;
	font-size: 12px;
	border-radius: 9px;
	color: #fff;
	background-color: #d0d0d0;
	text-align: center;
}
.urlPageContainer .bar input{
	vertical-align: middle;
	height: 24px;
	padding: 0px 10px 0px 10px;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	width: calc(100% - 70px);
	border: 0px;
	color: #393939;
}
.urlPageContainer .lBtns,
.urlPageContainer .rBtns{
	flex-grow: 10;
	height:24px;
}
.urlPageContainer .lBtns{

}
.urlPageContainer .rBtns{

}

.urlPageContainer .lBtns .barBtn,
.urlPageContainer .rBtns .barBtn{
	width: 22px;
	height: 22px;
	margin: 1px 2px 0px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.urlPageContainer .lBtns .barBtn:hover,
.urlPageContainer .rBtns .barBtn:hover{

}
.leftPos{
	left: 0 !important;
	right: auto !important;;
}
.rightPos{
	right: 0 !important;
	left: auto !important;;
}
.bottom-action-container{
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #fff;
}
#editor .bottom-action-container .btn-secondary{
	font-size: 12px;
	width: 100%;
}
.fancy-content-default{
	width: 1200px;
    max-height: 800px;
}
.container.export-recap .col{
	height: calc(100vh - 140px);
    border-right: 1px solid #999;
    overflow-y: auto;
}
.container.export-recap ul{
	list-style-type: none;
}
.container.export-recap .percircle{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bannerListSaved ul{
	list-style-type: none;
	padding: 0;
}
.huge-icon-container .col .inner-wrapper,
#bannerListSaved li .inner-wrapper{
	background: #ccc;
	position: relative;
	height: 270px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.huge-icon-container .col .tassello,
#bannerListSaved li .tassello{
	height: 45px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
    width: 100%;
}
.huge-icon-container .col .tassello a,
#bannerListSaved li .tassello a{
	background: #aaa;
	color: #fff;
	max-width: 90%;
	padding: 7px 15px;
}
.huge-icon-container .col .countBanner,
.nav-link .countBanner{
	position: absolute;
	top: 10px;
	right: 20px;
	background: #ffff65;
	height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 13px;
}
.nav-link .countBanner{
	position: relative;
    top: initial;
    right: initial;
    display: inline-block;
}
.huge-icon-container.col .inner-wrapper{
	height: 220px;
	background: #fff;
}
.huge-icon-container .col .tassello a{
	font-size: 11px;
}
.full-height{
	height: 100%;
}
.container .translate-middle{
	transform: translateY(50%);
}
.insert-new-container{
	background: #fff;
	width: 900px;
	text-align: left;
	min-height: calc(100vh - 103px);
}

.insert-new-container .carousel-control-next,
.insert-new-container .carousel-control-prev{
	width: 100%;
	float: left;
	position: relative;
	opacity: 1;
}
.insert-new-container .carousel-control-prev{
	color: #292b2c;
}
#loading-indicator{
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	position: fixed;
	z-index: 100000;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
}
.has-danger .fileinput-button{
	border-color: #d9534f;
}


/*PROPORTIONAL*/
.proportional{
	position: relative;
	width: 100%;
	display: inline-block;
}
.proportional-push{
	display: block;
}
.proportional-content{
	position: absolute;
	margin:0;
	padding:0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow:hidden;
}

/*PROPORTIONS*/
.proportion-2-1 .proportional-push{
	padding-top: 50.00%;
}
.proportion-1-1 .proportional-push{
	padding-top: 99.99%;
}

/*spazi corpo*/
.spacedContainer{
	margin: 50px 0px;
}

/*strutture*/

.pClear-input-button{
	margin: 0px;
	padding: 0px;
	background: transparent;
	border: 0px;
	cursor: pointer;
}

.pContainer{
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.pContainer{
		width: 750px;
	}
}
@media (min-width: 992px) {
	.pContainer{
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.pContainer{
		width: 1170px;
	}
}

.pRow{
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;
}
.pCol-lg-3,
.pCol-md-3,
.pCol-sm-3,
.pCol-xs-3{
	padding: 0px 6px 12px;
}

.pCol-xs-3{
	width: calc(calc(100% / 12) * 3);
}
@media (min-width: 768px) {
	.pCol-sm-3{
		width: calc(calc(100% / 12) * 3);
	}
}
@media (min-width: 992px) {
	.pCol-md-3{
		width: calc(calc(100% / 12) * 3);
	}
}
@media (min-width: 1200px) {
	.pCol-lg-3{
		width: calc(calc(100% / 12) * 3);
	}
}



.pCard{
	border: 1px solid #cecfd0;
	background-color: #fff;

	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.19);
}

.proportion-pCard-image .proportional-push{
	padding-top: 80.00%;
}
.pCard-image{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #dedede;
	border-bottom: 1px solid #cecfd0;
}
.pCard-body{
	padding-top: 20px;
}
.pCard-buttons{
	display: flex;
	border-top: 1px solid #cecfd0;
}
.pCard-button{
	display: inline-block;
	flex-grow: 1;
	line-height: 20px;
	padding: 10px;
	text-transform: uppercase;
}
.pCard-button:hover{
	text-decoration: none;
}
.pCard-button:not(:first-child){
	border-left: 1px solid #cecfd0;
}
.pCard-button-secondary{
	background-color: #f3f3f3;
	color: #535353;
}
.pCard-button-secondary:hover{
	background-color: #535353;
	color: #f3f3f3;
}
.pCard-edit,
.pCard-close{
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	width: 30px;
	height: 30px;
	background-color: red;
}
.pCard-edit{
	left: 4px;
	right: auto;
	background-color: #ccc;
	line-height: 30px;
}