#banner{
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#banner *{
	z-index: 2;
}
#banner .dynamicContainer{
	z-index: 1;
	position: relative;
}
#banner .dynamicContainer .dynamicImage{
	position: absolute;
	z-index: -1;
}

#banner .area{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
#banner .area.vSetting{
	flex-direction: column;
}

#banner .area .blocco{
	position: relative;
	/*float: left;*/
}

#banner .area .onlyV,
#banner .area .onlyH{
	display: none;
}
#banner .area.vSetting > .blocco > .onlyV{
	display: inline-block;
}
#banner .area.hSetting > .blocco > .onlyH{
	display: block;
}
#banner .hidden,
#banner .obs,
#banner .removed,
#banner .textTooSmall{
	display: none !important;
}


/*#banner .area .bannerV,
#banner .area .bannerH{
	display: none !important;
}
#banner > .area.vSetting .bannerV{
	display: inline-block !important;
}
#banner > .area.hSetting .bannerH{
	display: block !important;
}*/



#banner .image img{
	position: absolute;
}

#banner .logo img{
	width: 100%;
	height: 100%;
}

#banner .cta .btn,
#banner .url{
	white-space: nowrap;
}

/*da sistemare*/
#banner .sizerExt{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
#banner .sizerInt{
	display: inline-block;
}
#banner .sizerText{
	display: inline-block;
}




.no-overflow{
	/*overflow:hidden;*/
}



.border{
	border: 2px solid lime;
}
.border > div:nth-child(1){
	border: 2px dashed red;
}
.border > div:nth-child(2){
	border: 2px dashed yellow;
}
.border > div:nth-child(3){
	border: 2px dashed lightblue;
}
.border > div:nth-child(4){
	border: 2px dashed pink;
}
.border > div:nth-child(5){
	border: 2px dashed orange;
}
