.share {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  left: 60px;
  bottom: 30px;
}
.share-icon{
  line-height: 80px;
}
.share-button label{
	position: absolute;
	left: 95px;
	height: 100%;
	line-height: 80px;
	font-size: 26px;
	color: #000;
	width: 200px;
	display: none;
	text-align: left;
   opacity: 0;
   -webkit-transition: opacity 0.1s ease-in-out;
   -moz-transition: opacity 0.1s ease-in-out;
   -ms-transition: opacity 0.1s ease-in-out;
   -o-transition: opacity 0.1s ease-in-out;
   transition: opacity 0.1s ease-in-out;
}
.share-button,
.share-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background: #fff;
  text-align: center;
  color: #fff;
  border: 2px solid #eded0e;
  outline: none !important;
  -webkit-box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
  -moz-box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
  box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
}

.share-button:hover label,
.share-toggle-button:hover label{
  color: #000;
  opacity: 1;
}

.share-button {
  font-size: 30px;
  background: #fff;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #000;
  border: 2px solid #e2e2e2;
}

a.share-button {
  color: #000;
}

a.share-button:hover,
a.share-button:focus {
  background: #ffff65;
}
a.share-button::after,
a.share-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 40px;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -ms-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
  z-index: -1;

}
a.share-button:hover::after,
a.share-button:focus::after {
  width: 400%;
  background-color: inherit;
  border: 2px solid #eded0e;
  -webkit-box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
  -moz-box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
  box-shadow: 2px 3px 16px -6px rgba(0,0,0,0.67);
}

.share-toggle-button {
  z-index: 9;
  background: #ffff65;
  color: #000;
  font-size: 20px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}
