#banner{
	text-align: center;
}

#banner .logo img.onlyV{
	max-height: 75px;
}
#banner .logo img.onlyH{
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	/*max-height: 99999px;*/
}
#banner .logo img.onlyV{
	text-align: center;
}
#banner .cta .btn,
#banner .texts{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#banner .title{
	font-size: 35px;
}

#banner .subtitle{
	font-size: 35px;
}

#banner .content{
	font-size: 0.875rem;
}

#banner .cta{
	font-size: 19px;
}

#banner .web{
	font-size: 8px;
}
