#banner{
	text-align: center;
}

#banner .cta .btn,
#banner .texts{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#banner .title{
	font-size: 38px;
}

#banner .subtitle{
	font-size: 19px;
}

#banner .content{
	font-size: 0.875rem;
}

#banner .cta{
	font-size: 17px;
}

#banner .web{
	font-size: 12px;
}
