html{
	font-size: 16px;
}

#banner .image{
	overflow: hidden;
}

#banner .texts{
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
#banner .title{
	font-size: 1.25rem;
}
#banner .subtitle{
	font-size: 1.063rem;
}
#banner .content{
	font-size: 0.875rem;
}
#banner .cta{
	font-size: 0.875rem;
}

#banner .logo img.onlyH{
	position: absolute;
	bottom: 0px;
	right: 0px;
	transform: translateY(0%);
	top: auto;
	width: 80px;
}
#banner .logo img.onlyV{
	text-align: center;
}

#banner .cta .btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#banner .texts,
#banner .cta{
	padding-left: 4px;
}
