html{
	font-size: 16px;
}


#banner > .area.vSetting{
	flex-direction: column-reverse;
}

#banner .image{
}

#banner .logo{
	padding: 1rem 2.8rem 0rem;
}

#banner .title{
	margin: 2.4rem 2.8rem 2rem;
	font-size: 1.75rem;
	font-weight: bold;
}

#banner .subtitle{
	font-size: 1.4rem;
	margin: 0.7rem 2.8rem 0.3rem;
}
#banner .subtitle b{
	display: block;
}

#banner .content{
	margin: 0.7rem 2.8rem 0.3rem;
	font-size: 0.70rem;
}

#banner .cta{
	margin: 1rem 2.8rem 2rem;
	font-size: 0.875rem;
}
