#banner{
	text-align: center;
}

#banner .logo img{
	max-width: 90%;
}
#banner .bannerH .logo img{
	max-width: 60%;
}
#banner .logo img.onlyV{
	text-align: center;
}

#banner .title{
	font-size: 35px;
	white-space: nowrap;
	color: #fff;
}

#banner .subcontent .logo img{
}
