#banner > .hSetting .noHorizontalDynamic .dynamicImage{
   display: none;
}
#banner .logoContainer,
#banner .logoImage{
   z-index: 10;
   text-align: center;
}

#banner .logoImage.onlyV{
   max-width: 80%;
   width: 400px;
}

#banner .logoImage.onlyH{
   max-width: 100%;
   width: 300px;
   margin: auto;
}
