#banner .texts .sizerText{
   width: 100%;
}

#banner .texts .title{
   font-size: 26px;
   font-weight: bold;
}

#banner .texts .subtitle{
   font-size: 18px;
}

#banner .texts .content{
   font-size: 14px;
   font-weight: bold;
}

#banner .dynamicContainer{
   overflow: hidden;
   background-color: pink;
}
